<ion-app>
  <ion-split-pane contentId="main-screen">
    <ion-menu contentId="main-screen">
      <ion-header no-border>
        <ion-toolbar color="primary">
          <ion-title>Menu</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list>
          <ion-menu-toggle auto-hide="false">
            <ion-item detail="false" *ngFor="let menu of menus" routerDirection="{{ menu.url ? menu.direction : null }}"
              routerLink="{{ menu.url ? menu.url : null }}" (click)="menu.click ? callFunction(menu.click) : null">
              <ion-icon slot="start" color="dark" size="small" name="{{ menu.icon }}"></ion-icon>
              <ion-label>
                {{ menu.text }}
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>

    <ion-router-outlet id="main-screen"></ion-router-outlet>
  </ion-split-pane>
</ion-app>